*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #545454;
    background: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background: #14BDAC;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}
.title{
    text-align: center;
}
.title span{
    color: #f2ebd3;
}
.status-container{
    margin-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.reset{
    cursor: pointer;
}
.reset:hover{
    color: #f2ebd3;
}
.game-grid{
    background: #0DA192;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}
.game-cell{
    height: 200px;
    width: 200px;
    background: #14BDAC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x::after{
    content: '×';
    font-size: 200px;
}
.o::after {
    content: '○';
    font-size: 200px;
    color: #f2ebd3;

}