*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: #545454;
    background: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}

.container{
    background: #14BDAC;
    margin: 50px;
    padding: 50px;
    border-radius: 50px;
}
.title{
    text-align: center;
}
.title span{
    color: #f2ebd3;
}
.status-container{
    margin-top: 25px;
    font-size: 25px;
    display: flex;
    justify-content: space-around;
    height: 30px;
}
.reset{
    cursor: pointer;
}
.reset:hover{
    color: #f2ebd3;
}
.game-grid{
    background: #0DA192;
    margin-top: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
}
.game-cell{
    height: 200px;
    width: 200px;
    background: #14BDAC;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.x::after{
    content: '×';
    font-size: 200px;
}
.o::after {
    content: '○';
    font-size: 200px;
    color: #f2ebd3;

}
.won{
    color: #BD022F
}

@media only screen and (max-width: 1024px){
    .game-grid{
        margin-top: 25px;
        grid-gap: 10px;
    }
    .game-cell{
        height: 150px;
        width: 150px;
    }
    .x::after{
        font-size: 150px;
    }

    o::after {
        font-size: 175px;
    }
}

@media only screen and (max-width: 540px) {
    .container{
        margin: 25px;
        padding: 25px;
    }

    .game-cell {
        height: 100px;
        width: 100px;
    }

    .x::after {
        font-size: 100px;
    }

    .o::after {
        font-size: 125px;
    }
}